@mixin input {
    @apply
        w-full p-2 rounded-md shadow-md border
        focus:scale-105 focus:shadow-lg
        hover:shadow-lg outline-0 transition-all;

    &::placeholder {
        @apply text-gray-400;
    }
}

.input {
    @include input;
}

.dark-input {
    @include input;
    @apply
        shadow-rose-950 border-white bg-rose-900 text-white
        focus:shadow-rose-950 hover:shadow-rose-950;
}
